.team-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.team-page-header {
    background-color: #074684;
    color: white;
    height: 60px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: start;
    width: 100%;
}

.team-page-item {
    margin: 10px;
    height: 30px;
    width: 80%;
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: start;
}

.team-page-item ~ p{
    font-weight: bold;
}

.team-page-item > span{
    text-align: start;
}